---
import type { TocItem } from "../../../utils/toc";

interface Props {
    heading: TocItem;
}

const {
    heading: { depth, slug, subheadings, text },
} = Astro.props;
---

<li class="toc-item-wrapper" data-depth={depth}>
    <a
        href=`#${slug}`
        data-slug={slug}
        class:list={[
            "relative block truncate py-1.5 transition duration-250 ease-out hover:text-blue-600 dark:text-gray-300 dark:hover:text-yellow-400",
            {
                "pl-3": [2, 3].includes(depth),
                "pl-10": depth === 4,
            },
        ]}
    >
        {text}
    </a>

    {
        subheadings && subheadings.length > 0 && (
            <ul class="mt-1">
                {subheadings.map((subheading) => (
                    <Astro.self heading={subheading} />
                ))}
            </ul>
        )
    }
</li>
